<% provide:title, t("help_title") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help" %>
  <%= link_to t("rails_help"), Settings.rails_help %>
  <%= t "to_get" %>
  <em>
  <%= link_to t("ror_tutorial"), Settings.rails_tutorial %>
  </em>
  <%= t "book" %></a>.
</p>
