<<<<<<< 0f3c460add30c9aec0a3e71450b4d6e9858ef7f8
<h1><%= t "user_password_reset" %></h1>
<p>
  <%= @greeting %>, <%= t "find_me" %>
</p>
=======
<h1><%= t "password_reset" %></h1>
<p><%= t "to_reset_your_password" %></p>
<%= link_to t("reset_password"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t "this_link_will_expire" %></p>
<p><%= t "if_you_did_not" %></p>
>>>>>>> chapter12
