<footer class="footer">
  <small>
    <%= t "supper_the" %>
    <%= link_to t("ror_tutorial"), Settings.ror_tutorial %>
    <%= t "by" %>
    <%= link_to t("michael_hartl"), Settings.michael_hartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about_title"), about_path %></li>
      <li><%= link_to t("contact_title"), contact_path %></li>
      <li><%= link_to t("news"), Settings.news %></li>
    </ul>
  </nav>
</footer>
